
html, body {
	
	background: #D5B9B2;
	margin:25px;
	border: 25px;
	padding: 20px 20px;
	
	font-family: 'arial';
	font-size: 16px;
	color: #AA7476;
	
}

 
#main {
	width: 100%;
	max-width: 1400px;
		
}

.contactDetails {
	font-family: 'arial';
	font-size: 16px;
	color: #AA7476;
}

p {
	
	line-height: 1.3em;
		
	
}

h1 {
	border-bottom: 1px solid #000000;
	color: #000000;
}

h3 {
	color: #000000;
}
	
 section {
	
	background: #653E3F;
	padding: 20px;
	
 }
	

	a { 
		color: #A4968E;
	}
	

